name: Publish to Docker
on:
  push:
    branches:
      - master
      - cloudrun_fix_required
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.x

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

      - name: Build container
        uses: docker/build-push-action@v1
        with:
          username: scosman
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: scosman/packages/zipstreamer
          tags: latest
          tag_with_sha: true
